{% extends "base.html" %} 

{% block content %}
<style>.child {
  display: inline-block;
  border: 1px solid #293645;
  padding: 5px;
  vertical-align: middle;
  margin-right: 1px;
  border-radius: 12px;
  background-color: rgba(41, 54, 69, 1);
  color: white;

}

.child01 {
  display: inline-block;
  border: 1px solid #293645;
  padding: 5px;
  vertical-align: middle;
  margin-left: 1px;
  margin-right: 1px;
  border-radius: 12px;
  background-color: rgb(255, 255, 255);
  color: white;
}

.parrot {
  display: inline-block;
  border: 1px solid #293645;
  padding: 5px;
  vertical-align: middle;
  margin-left: 1px;
  margin-right: 1px;
  border-radius: 12px;
}

.table-container {
  overflow-x: auto; /* Add horizontal scroll if needed */
  width: 100%; /* Container takes the full width */
}


table {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto !important; /* Columns adjust to content */
}
th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  font-size: 12px;
  white-space: nowrap;
}
th {
  background-color: #293645;
  color: white;
  
}
tfoot td {
  font-weight: bold;
  font-size: 15px;
}
</style>
<title>Lighthouse - Finance</title>
<section>
  <!-- View Transaction Model -->
  <div class="modal fade" id="TxnModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
        <div id="toolbarC">
        </div>
          <table id="txntable"        
          data-toggle="true"
          data-toolbar="#toolbarC"
          data-search="true"
          data-show-columns="true"
          data-pagination="true">
            <thead>
            <tr>
                <th data-field="refno">Ref No.</th>
                <th data-field="transaction_date">Date</th>
                <th data-field="type">Type</th>
                <th data-field="mode">Mode</th>
                <th data-field="amount">Amount</th>
            </tr>
            </thead>
        </table>
        </div>
      </div>
    </div>
    </div>
    <!-- Model End -->



  <div style="min-height: 100vh; max-height: 100%;background-color: rgba(0, 0, 0, 0);">
    <div class="container-fluid" style="padding: 10px;">
      <div class="container-fluid parrot" style="text-align: center; margin: 5px;">
        <div class="row">
            <div class="child" style="width: auto; margin-left: 1%;">
              <img style="width:12px; float: left; filter: invert(); margin-right: 5px; margin-left: 5px; margin-top: 1%; margin-bottom: 0" src="/static/images/calendar.png"/><span><h6 style="text-align: left;">Duration</h6>
              <input type="date" id="propdate" name="propdate" class="filter_add02" style="width: 130px;">
              <input type="date" id="propdate2" name="propdate2" class="filter_add02" style="width: 130px;">
            </div>
            <div class="child" style="width: auto;">
              <img style="width:12px; float: left; filter: invert(); margin-right: 5px; margin-left: 5px; margin-top: 1%; margin-bottom: 0" src="/static/images/product-description.png"/><span><h6 style="text-align: left;">Description</h6>
              <select name="type_category" id="type_category" class="filter_add02">
                  <option selected="selected" value="">Type</option>
                  <option value="Sale">Sale</option>
                  <option value="Rent">Rent</option>
              </select>
              <select name="market_category" id="market_category" class="filter_add02">
                <option selected="selected" value="">Market</option>
                <option value="Offplan">Offplan</option>
                <option value="Sale">Sale</option>
                <option value="Resale">Resale</option>
                <option value="Leased">Leased</option>
            </select>
            </div>
            <div class="child" style="width: auto;">
              <img style="width:12px; float: left; filter: invert(); margin-right: 5px; margin-left: 5px; margin-top: 1%; margin-bottom: 0" src="/static/images/location-pointer.png"/><span><h6 style="text-align: left;">Area</h6>
            <select name="location_category" id="location_category" class="filter_add02">
              <option selected="selected" value=''>Location</option>
              <option value='Abu Dhabi Gate City'>Abu Dhabi Gate City</option>
              <option value='Abu Dhabi Island'>Abu Dhabi Island</option>
              <option value='AbuDhabi-Al Ain (Highway)'>AbuDhabi-Al Ain (Highway)</option>
              <option value='Airport Road'>Airport Road</option>
              <option value='Al Ajban'>Al Ajban</option>
              <option value='Al Aman'>Al Aman</option>
              <option value='Al Aryam'>Al Aryam</option>
              <option value='Al Badaa'>Al Badaa</option>
              <option value='Al Bahia'>Al Bahia</option>
              <option value='Al Baraha'>Al Baraha</option>
              <option value='Al Barza'>Al Barza</option>
              <option value='Al Bateen'>Al Bateen</option>
              <option value='Al Bateen Al Ain'>Al Bateen Al Ain</option>
              <option value='Al Danah'>Al Danah</option>
              <option value='Al Dhafrah'>Al Dhafrah</option>
              <option value='Al Fahid Island'>Al Fahid Island</option>
              <option value='Al Falah City'>Al Falah City</option>
              <option value='Al Faya'>Al Faya</option>
              <option value='Al Ghadeer'>Al Ghadeer</option>
              <option value='Al Gurm West'>Al Gurm West</option>
              <option value='Al Hosn'>Al Hosn</option>
              <option value='Al Hudayriat Island'>Al Hudayriat Island</option>
              <option value='Al Ittihad Road'>Al Ittihad Road</option>
              <option value='Al Jubail Island'>Al Jubail Island</option>
              <option value='Al Jubail Island'>Al Jurf Island</option>
              <option value='Al Karamah'>Al Karamah</option>
              <option value='Al Khaleej Al Arabi Street'>Al Khaleej Al Arabi Street</option>
              <option value='Al Khalidiya'>Al Khalidiya</option>
              <option value='Al Khatim'>Al Khatim</option>
              <option value='Al Khazna'>Al Khazna</option>
              <option value='Al Khubeirah'>Al Khubeirah</option>
              <option value='Al Maffraq'>Al Maffraq</option>
              <option value='Al Maha'>Al Maha</option>
              <option value='Al Maharba'>Al Maharba</option>
              <option value='Al Manaseer'>Al Manaseer</option>
              <option value='Al Manhal'>Al Manhal</option>
              <option value='Al Maqtaa'>Al Maqtaa</option>
              <option value='Al Marina'>Al Marina</option>
              <option value='Al Markaz'>Al Markaz</option>
              <option value='Al Markaziyah'>Al Markaziyah</option>
              <option value='Al Maryah Island'>Al Maryah Island</option>
              <option value='Al Mina'>Al Mina</option>
              <option value='Al Mirfa'>Al Mirfa</option>
              <option value='Al Muneera'>Al Muneera</option>
              <option value='Al Muntazah'>Al Muntazah</option>
              <option value='Al Mushrif'>Al Mushrif</option>
              <option value='Al Nahda Abu Dhabi'>Al Nahda Abu Dhabi</option>
              <option value='Al Nahyan'>Al Nahyan</option>
              <option value='Al Nahyan Camp'>Al Nahyan Camp</option>
              <option value='Al Najda Street'>Al Najda Street</option>
              <option value='Al Nasr Street'>Al Nasr Street</option>
              <option value='Al Qurm'>Al Qurm</option>
              <option value='Al Raha'>Al Raha</option>
              <option value='Al Raha Beach'>Al Raha Beach</option>
              <option value='Al Raha Gardens'>Al Raha Gardens</option>
              <option value='Al Raha Golf Gardens'>Al Raha Golf Gardens</option>
              <option value='Al Rahba'>Al Rahba</option>
              <option value='Al Rawdah'>Al Rawdah</option>
              <option value='Al Reef'>Al Reef</option>
              <option value='Al Reef Villas'>Al Reef Villas</option>
              <option value='Al Reem Island'>Al Reem Island</option>
              <option value='Al Rehhan'>Al Rehhan</option>
              <option value='Al Rideem'>Al Rideem</option>
              <option value='Al Ruwais'>Al Ruwais</option>
              <option value='Al Safarat District'>Al Safarat District</option>
              <option value='Al Samha'>Al Samha</option>
              <option value='Al Shahama'>Al Shahama</option>
              <option value='Al Shamkha'>Al Shamkha</option>
              <option value='Al Shamkha South'>Al Shamkha South</option>
              <option value='Al Shawamekh'>Al Shawamekh</option>
              <option value='Al Sila'>Al Sila</option>
              <option value='Al Sowwah'>Al Sowwah</option>
              <option value='Al Taweelah'>Al Taweelah</option>
              <option value='Al Tibbiya'>Al Tibbiya</option>
              <option value='AL Wahda'>AL Wahda</option>
              <option value='Al Wathba'>Al Wathba</option>
              <option value='Al Zaab'>Al Zaab</option>
              <option value='Al Zahraa'>Al Zahraa</option>
              <option value='Arabian Village'>Arabian Village</option>
              <option value='Bain Al Jessrain'>Bain Al Jessrain</option>
              <option value='Baniyas'>Baniyas</option>
              <option value='Between Two Bridges'>Between Two Bridges</option>
              <option value='Building Materials City'>Building Materials City</option>
              <option value='Capital Centre'>Capital Centre</option>
              <option value='City Downtown'>City Downtown</option>
              <option value='Corniche'>Corniche</option>
              <option value='Corniche Area'>Corniche Area</option>
              <option value='Corniche Road'>Corniche Road</option>
              <option value='Danet Abu Dhabi'>Danet Abu Dhabi</option>
              <option value='Defence Street'>Defence Street</option>
              <option value='Delma Street'>Delma Street</option>
              <option value='Desert Village'>Desert Village</option>
              <option value='Dubailand'>Dubailand</option>
              <option value='Eastern Road'>Eastern Road</option>
              <option value='Electra Street'>Electra Street</option>
              <option value='Firdous Street'>Firdous Street</option>
              <option value='Ghantoot'>Ghantoot</option>
              <option value='Ghiyathi'>Ghiyathi</option>
              <option value='Grand Mosque District'>Grand Mosque District</option>
              <option value='Hamdan Street'>Hamdan Street</option>
              <option value='Happiness Island'>Happiness Island</option>
              <option value='Happiness Island'>Happiness Island</option>
              <option value='Hydra Village'>Hydra Village</option>
              <option value='Jawazat Street'>Jawazat Street</option>
              <option value='Khalidia'>Khalidia</option>
              <option value='Khalifa City (all)'>Khalifa City (all)</option>
              <option value='Khalifa City A'>Khalifa City A</option>
              <option value='Khalifa City B'>Khalifa City B</option>
              <option value='Khalifa City C'>Khalifa City C</option>
              <option value='Khalifa Park'>Khalifa Park</option>
              <option value='Khalifa Street'>Khalifa Street</option>
              <option value='Liwa'>Liwa</option>
              <option value='Liwa Street'>Liwa Street</option>
              <option value='Lulu Island'>Lulu Island</option>
              <option value='Madinat Al Riyad'>Madinat Al Riyad</option>
              <option value='Madinat Zayed'>Madinat Zayed</option>
              <option value='Madinat Zayed (Western Region)'>Madinat Zayed (Western Region)</option>
              <option value='Mafraq Industrial Area'>Mafraq Industrial Area</option>
              <option value='Marina Village'>Marina Village</option>
              <option value='Masdar City'>Masdar City</option>
              <option value='Mbz'>Mbz</option>
              <option value='Mina Zayed'>Mina Zayed</option>
              <option value='Mohamed Bin Zayed City'>Mohamed Bin Zayed City</option>
              <option value='Muroor Area'>Muroor Area</option>
              <option value='Musaffah Industrial Area'>Musaffah Industrial Area</option>
              <option value='Mussafah'>Mussafah</option>
              <option value='Nareel Island'>Nareel Island</option>
              <option value='New Al Marfa'>New Al Marfa</option>
              <option value='New Khalifa City'>New Khalifa City</option>
              <option value='Nurai Island'>Nurai Island</option>
              <option value='Officers Club Area'>Officers Club Area</option>
              <option value='Ramhan Island'>Ramhan Island</option>
              <option value='Saadiyat Island'>Saadiyat Island</option>
              <option value='Salam Street'>Salam Street</option>
              <option value='Sas Al Nakhl'>Sas Al Nakhl</option>
              <option value='Shakhbout City'>Shakhbout City</option>
              <option value='Sheikh Zayed Bin Sultan St.'>Sheikh Zayed Bin Sultan St.</option>
              <option value='Tourist Club Area'>Tourist Club Area</option>
              <option value='World Trade Center'>World Trade Center</option>
              <option value='Yas Island'>Yas Island</option>
              <option value='Zayed City'>Zayed City</option>
              <option value='Zayed Military City'>Zayed Military City</option>
              <option value='Zayed Sports City'>Zayed Sports City</option>
            </select>
            <select name="community_category" id="community_category" class="filter_add02">
              <option selected="selected" value="">Project</option>
            </select>
          </div>
          <div class="child" style="width: auto;">
            <img style="width:12px; float: left; filter: invert(); margin-right: 5px; margin-left: 5px; margin-top: 1%; margin-bottom: 0" src="/static/images/tick.png"/><span><h6 style="text-align: left;">Agents</h6>
              <select name="agents_sales" id="agents_sales" class="filter_add02" >
                <option selected="selected" value="">Users</option>
                {% for users in all_sale_users %}
                    <option value="{{users.username}}">{{users.username}}</option>
                {% endfor %}
                </select>
                <select name="agents_listing" id="agents_listing" class="filter_add02" >
                  <option selected="selected" value="">Users</option>
                  {% for users in all_listing_users %}
                      <option value="{{users.username}}">{{users.username}}</option>
                  {% endfor %}
                  </select>
          </div>
          </div>
    
          <div class="row">
            <div class="col">
              <button id="filter_search" class="filter_add" onclick="ajaxRequest()" style="background-color: #293645; color: white; margin-top: 3px; float: right; margin-right: 6px; margin-top: 7px;"><img style="width:13px; filter: invert(); margin-right: 5px; margin-left: 5px; margin-top: 0;" src="/static/images/magnifier.png"/><span>Search</span></button>
              <button id="filter_reset" class="filter_add" style="background-color: #293645; color: white; margin-top: 3px; float: right; margin-right: 5px; margin-top: 7px;"><img style="width:13px; filter: invert(); margin-right: 5px; margin-left: 5px;" src="/static/images/reset.png"/><span>Reset</span></button>
            </div>
          </div>
      </div>

<div class="table-container">
<table id="data-table">
  <thead>
      <tr>
          {% for col in columns %}
              <th>{{ col.title }}</th>
          {% endfor %}
      </tr>
  </thead>
  <tbody>
      {% for row in data %}
      <tr>
        {% for col in columns %}
            {% if col.field == 'options' %}
                <td data-field="{{ col.field }}">{{ row.get(col.field, '-') | safe }}</td>
            {% elif col.field in editable_keys %}
                <td data-field="{{ col.field }}" contenteditable="true" class="editable">{{ row.get(col.field, '-') }}</td>
            {% else %}
                <td data-field="{{ col.field }}">{{ row.get(col.field, '-') }}</td>
            {% endif %}
        {% endfor %}
      </tr>
      {% endfor %}
  </tbody>
  <tfoot>
      <tr id="totals-row">
          {% for col in columns %}
              <td>
                  {% if col['field'] in sum_keys %}
                      <span data-field="{{ col['field'] }}" style="color: #293645;">0</span>
                  {% else %}
                      -
                  {% endif %}
              </td>
          {% endfor %}
      </tr>
  </tfoot>
</table>
</div>
</div>
</div>
</section>
{% endblock %}


{% block scripts %}
<script type='text/javascript'>
$("#location_category").change(function(){
    get_location();
    });

    function get_location(){
        var comm = $("#location_category").val();
        fetch('/property/' + comm).then(function(response){
            response.json().then(function(data){
                let optionHTML = '';
                optionHTML += '<option value="">Community</option>';
                for (let location of data.locations){

               
                        optionHTML += '<option value="'+location[0]+'">'+location[1]+'</option>';
                    
                }
                document.getElementById('community_category').innerHTML = optionHTML;
            })
        })
        
    }
  
    $('#filter_reset').click(function () {
          $("#agents_listing").val("");
          $("#agents_sales").val("");
          $("#community_category").val("");
          $("#location_category").val("");
          $("#market_category").val("");
          $("#type_category").val("");
          $("#propdate").val("");
          $("#propdate2").val("");
          ajaxRequest();
        })
  
function view_txn(x){
  fetch('/view_txns/'+x).then(function(response){
    response.json().then(function(data){
      var jsonData = data.txns
      $(function () {
                $('#txntable').bootstrapTable('destroy')
                $('#txntable').bootstrapTable({data: jsonData});
                });
    })
  })
}


document.addEventListener("DOMContentLoaded", function() {
    let sumKeys = {{ sum_keys|tojson }};
    let sums = {};

    // Initialize sums object
    sumKeys.forEach(key => sums[key] = 0);

    function updateSumAndFooter(field) {
        sums[field] = 0;
        document.querySelectorAll(`#data-table tbody tr td[data-field="${field}"]`).forEach(cell => {
            let value = parseFloat(cell.innerText.replace(/,/g, '')) || 0;
            sums[field] += value;
        });
        document.querySelector(`#totals-row td span[data-field="${field}"]`).innerText = sums[field].toLocaleString();
    }

    window.ajaxRequest = function ajaxRequest() {
        fetch('/fetch_txn_token').then(function(response) {
            response.json().then(function(data) {
                token = data;
                var headers = {
                    'Authorization': 'Bearer ' + token
                };
                var queryParams = {};

                if ($("#propdate").val() != '') {
                    queryParams['propdate'] = $("#propdate").val();
                }
                if ($("#propdate2").val() != '') {
                    queryParams['propdate2'] = $("#propdate2").val();
                }
                if ($("#type_category").val() != '') {
                    queryParams['type'] = $("#type_category").val();
                }
                if ($("#market_category").val() != '') {
                    queryParams['transaction_type'] = $("#market_category").val();
                }
                if ($("#location_category").val() != '') {
                    queryParams['unit_location'] = $("#location_category").val();
                }
                if ($("#community_category").val() != '') {
                    queryParams['unit_sub_location'] = $("#community_category").val();
                }
                if ($("#agents_sales").val() != '') {
                    queryParams['agent_1'] = $("#agents_sales").val();
                }
                if ($("#agents_listing").val() != '') {
                    queryParams['agent_2'] = $("#agents_listing").val();
                }

                var url = 'https://crm.uhpae.com/fetch_summary';
                var queryString = Object.keys(queryParams).map(key => key + '=' + queryParams[key]).join('&');
                url += '?' + queryString;

                $.ajax({
                    url: url,
                    method: 'GET',
                    headers: headers,
                    success: function(res) {
                        // Destroy existing table body
                        $('#data-table tbody').remove();
                        // Create a new table body
                        var newTbody = $('<tbody></tbody>');
                        res.data.forEach(function(row) {
                            var newRow = $('<tr></tr>');
                            res.columns.forEach(function(col) {
                                var newCell;
                                if (col.field === 'options') {
                                    newCell = $('<td></td>').attr('data-field', col.field).html(row[col.field] || '-');
                                } else {
                                    newCell = $('<td></td>').attr('data-field', col.field).text(row[col.field] || '-');
                                }
                                newRow.append(newCell);
                            });
                            newTbody.append(newRow);
                        });
                        // Append the new table body to the table
                        $('#data-table').append(newTbody);

                        // Update the totals in the footer
                        sumKeys.forEach(field => updateSumAndFooter(field));
                    },
                    error: function(error) {
                        console.error('Error fetching data:', error);
                    }
                });
            });
        });
    }
});
</script>

  <style type='text/css'>
    .row-index {
      width: 50px;
      display: inline-block;
    }
    body {
  overflow-x: hidden;
}</style>
{% endblock %}