{% extends "base.html" %} 
{% import "bootstrap/wtf.html" as wtf %} 
{% block content %}
<style type='text/css'>
    .column{
           background-color: (255, 255, 255, 0.4); box-shadow: 0px 0px 39px -11px rgba(0,0,0,0.75) inset;
           -webkit-box-shadow: 0px 0px 39px -11px rgba(0,0,0,0.75) inset;
           -moz-box-shadow: 0px 0px 39px -11px rgba(0,0,0,0.75) inset;
           padding-top: 10px;
           margin: 5px;
           margin-top: 20px;
    }
    h4{
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #000000;
        font-size: 14pt;
        font-family: 'Oswald';
    }
      </style>
    

<section>
    <div style="height: 100%;width: 100%;background-color: rgba(0, 0, 0, 0.1);">
<div class="container" >
<form method="POST" enctype="multipart/form-data">
    <dl>
        <div class="row">
            <div class="col column">
                <h4>Exit Form</h4>
                {{ wtf.form_field(form.name) }}
                {{ wtf.form_field(form.designation) }}
                {{ wtf.form_field(form.department) }}
                {{ wtf.form_field(form.employee_no) }}
                <div class="row" style="margin-bottom: 9px;">
                    <div class="col" style="font-size: 15px;">
                        Joining Date
                    </div>
                    <div class="col">
                        {{ form.joining_date }}
                    </div>
                </div>
                {{ wtf.form_field(form.leave_type) }}
                {{ wtf.form_field(form.reason) }}

                <div class="container">
                    <div class="row" style="margin-bottom: 9px;">
                        <div class="col" style="font-size: 15px;">
                            From Date *
                        </div>
                        <div class="col">
                            {{ form.date_from }}
                        </div>
                        <div class="col" style="font-size: 15px;">
                            To Date
                        </div>
                        <div class="col">
                            {{ form.date_to }}
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-bottom: 9px;">
                    <div class="col" style="font-size: 15px;">
                        {{ wtf.form_field(form.no_of_days) }}
                    </div>
                    <div class="col">
                        {{ wtf.form_field(form.leave_balance) }}
                    </div>
                </div>
                {{ wtf.form_field(form.docs) }} 
                <div id="doc01" style="padding-left: 25px; margin: 3px; margin-bottom: 7px;"></div>

                {% if current_user.is_admin == True or current_user.job_title == 'Manager' or current_user.job_title == 'HR Manager' %}
                <div class="row" style="margin-bottom: 9px;">
                    <div class="col" style="font-size: 15px;">
                        Manager Acknowledge Date
                    </div>
                    <div class="col">
                        {{ form.manager_ack_date }}
                    </div>
                </div>
                {{ wtf.form_field(form.manager_approval) }}
                {% endif %}
                {% if current_user.is_admin == True or current_user.job_title == 'HR Manager' %}
                <div class="row" style="margin-bottom: 9px;">
                    <div class="col" style="font-size: 15px;">
                        HR Acknowledge Date
                    </div>
                    <div class="col">
                        {{ form.hr_ack_date }}
                    </div>
                </div>
                {{ wtf.form_field(form.hr_approval) }}
                {{ wtf.form_field(form.remarks) }}
                {% endif %}
            </div>
        </div>
    </dl>
  <!--label onclick="update()" class="btn btn-primary" >Submit</label>-->
  <input id="sub" class="btn btn-primary" value="Submit" type="submit" value="Submit">
</form>
</div>

<br></div>
</section>

<script>
    const to_date = document.getElementById('date_to');
    const inputHandler01 = function(e) {
    var to_date = document.getElementById('date_to').value
    let to_date01 = new Date(to_date)
    let to_date02 = Date.UTC(to_date01.getFullYear(), to_date01.getMonth(), to_date01.getDate())
    if (e.target.id == 'date_to')
    {
        let from_date = document.getElementById('date_from').value
        let from_date01 = new Date(from_date)
        let from_date02 = Date.UTC(from_date01.getFullYear(), from_date01.getMonth(), from_date01.getDate())
        document.getElementById('no_of_days').value = parseInt(((to_date02-from_date02)/ (1000 * 60 * 60 * 24))+1)
    }
    }
    to_date.addEventListener('input', inputHandler01);

    window.onload = get_docs();

    function get_docs() {
        check = {{radio_enable|tojson}}
        if (check == "enabled"){
            m = {{old_docs|tojson}}
            console.log(m)
            if (m != null && m != '') {
                imagedata = "<div class='row'>"
                imagedata += '<a href="'+m+'" style="text-align: center;" download><div class="container" style="width: 90px; height: 80px; overflow: hidden; float: left;"><iframe src="'+m+'" style="width: 90px; height: 50px; border: 1px solid white;"></iframe><h6 style="font-size: 15px;">'+"Download"+'</h6></div></a>'
                imagedata += "</div>"
                document.getElementById("doc01").innerHTML = imagedata;

            }
            
        }
        else {
            console.log("No EID")
        }
    }

</script>
 
{% endblock %}






