{% extends "base.html" %} 
{% import "bootstrap/wtf.html" as wtf %} 
{% block content %}
<style type='text/css'>

    .column{
           background-color: rgba(255, 255, 255, 0.4); box-shadow: 0px 0px 39px -11px rgba(0,0,0,0.75) inset;
-webkit-box-shadow: 0px 0px 39px -11px rgba(0,0,0,0.75) inset;
-moz-box-shadow: 0px 0px 39px -11px rgba(0,0,0,0.75) inset;
padding-top: 10px;
        margin: 5px;
        margin-top: 20px;
    }
    h4{
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #000000;
        font-size: 14pt;
        font-family: 'Oswald';
    }
</style>
    
<section>
    <div style="height: 100%;width: 100%;background-color: rgba(0, 0, 0, 0.1);">
<div class="container">
    <div class="modal fade" id="myContactModal">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
            
                <div id="toolbarC">
    
                </div>
                  <table id="contacttable"        
                  data-toggle="true"
                  data-toolbar="#toolbarC"
                  data-search="true"
                  data-show-columns="true"
                  data-pagination="true">
                    <thead>
                    <tr>
                        <th data-radio="true" data-show-select-title="true">SELECT</th>
                        <th data-field="refno">REF NO</th>
                        <th data-field="name">NAME</th>
                        <th data-field="contact">CONTACT</th>
                        <th data-field="email">EMAIL</th>
                    </tr>
                    </thead>
                </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" style="float: left;"  data-dismiss="modal" onclick="getcontact()">Select</button>
                  <button id="close" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
<form method="POST" enctype="multipart/form-data">
  <dl>


    <div class="row">
        <div class="col-lg-4 col-md-4 column">
            {% if vibes == 'dxb'%}
            <h4>Branch</h4>
            {{ wtf.form_field(form.branch) }}
            {% endif %}
            <h4>Client Details</h4>
            <a data-toggle="modal" href="#myContactModal" class="btn btn-primary" style="margin-bottom: 5px; background-color: #7be0ff; border: hidden;">Add Contact</a>
            {{ wtf.form_field(form.contact) }}
            {{ wtf.form_field(form.contact_name) }}
            {{ wtf.form_field(form.contact_number) }}
            {{ wtf.form_field(form.contact_email) }}
            {{ wtf.form_field(form.nationality) }}
            {{ wtf.form_field(form.role) }}
            {{ wtf.form_field(form.agent) }}
            {{ wtf.form_field(form.enquiry_date) }}
            {{ form.sendSMS.label(class="control-label") }}
            {{wtf.form_field(form.sendSMS)}}
        </div>

    <div class="col column">
        <h4>Property Requirements</h4>
        {{ wtf.form_field(form.lead_type) }}
        {{ wtf.form_field(form.property_requirements) }}
    <div class="row">
        <div class="col">
            {{ wtf.form_field(form.locationtext) }}
        </div>    
        <div class="col">
            {{ wtf.form_field(form.building) }}
        </div>
        <div class="col">
            {{ wtf.form_field(form.subtype) }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ wtf.form_field(form.min_beds) }}
        </div>
        <div class="col">
            {{ wtf.form_field(form.max_beds) }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4>Financial Status</h4>
            <div class="row">
            <div class="col">
               {{ wtf.form_field(form.min_price) }}
            </div>
            <div class="col">
               {{ wtf.form_field(form.max_price) }}
           </div>
           </div>

        </div>

    </div>

    <br>
    <h4>Private Amenities</h4>
    <div class="row">
    <div class="col" style="margin-left: 15px;background-color: rgba(255, 255, 255, 0.8); width:80%; height: 240px;  overflow-y: scroll;border-bottom: 10px solid rgb(0, 0, 0 ,0); border-top: 10px solid rgb(0, 0, 0 ,0); ">
      {{ form.propertyamenities(class="control-label" , style="list-style: none;margin-left:-40px;") }}
    </div>
    </div>

    <div class="row">
        <div class="col">
            {{ wtf.form_field(form.purpose) }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ wtf.form_field(form.unit) }}
        </div>
        <div class="col">
            {{ wtf.form_field(form.plot) }}
        </div>
        <!--
        <div class="col">
            {{ wtf.form_field(form.street) }}
        </div>
        -->
        <div class="col">
            {{ wtf.form_field(form.size) }}
        </div>
    </div>

        <div class="row">
            <div class="col">
             <h4>Lead Status</h4>
             {{ wtf.form_field(form.status) }}
             {{ wtf.form_field(form.sub_status) }}
             {{ wtf.form_field(form.source) }}
         </div>
         </div>

    </div>
    </div>


  </dl>
  <p><input class="btn btn-primary" style="background-color: #7be0ff; border: hidden;" type="submit" value="Submit">
</form>
</div>
<br></div>
</section>

<script>
    let location_select = document.getElementById('building');
    $("#locationtext").change(function(){
    get_location();
    });
    var building = '{{ building }}'
    function get_location(){
        var location = $("#locationtext").val();
        fetch('/community/' + location).then(function(response){
            response.json().then(function(data){
                let optionHTML = '';
                optionHTML += '<option value=""></option>'
                for (let location of data.locations){
                    if (location[0] == building)
                    {
                        optionHTML += '<option selected = "" value="'+location[0]+'">'+location[1]+'</option>'; 
                    }
                    else
                    {
                        optionHTML += '<option value="'+location[0]+'">'+location[1]+'</option>';
                    }  
                }
                location_select.innerHTML = optionHTML;
            })
        })   
    }

    let sub_status = document.getElementById('sub_status');
    $("#status").change(stat)
    var ss = '{{sub_status}}'
    function stat(){
        var status = $("#status").val();
        fetch('/status/' + status).then(function(response){
            response.json().then(function(data){
                let optionHTML = '';
                for (let status of data.status){
                    if ( status[0] == ss ){
                        optionHTML += '<option value="'+status[0]+'" selected>'+status[1]+'</option>';
                    }
                    else{
                    optionHTML += '<option value="'+status[0]+'">'+status[1]+'</option>';
                }
            }
                sub_status.innerHTML = optionHTML;
            })
        })
    }
    window.onload = stat() 

    let assign_to = document.getElementById('agent');
    var assign = '{{ assign }}'
    var vibes = '{{ vibes }}'
    function get_user(){
        fetch('/all_users').then(function(response){
            response.json().then(function(data){
                let optionHTML = '<option value="'+''+'">'+''+'</option>';
                
                for (let users of data.all_users){
                    if ( users.sale == true ){
                        optionHTML += '<option value="'+users.name+'">'+users.name+'</option>';
                    }
                    else{ 
                        continue
                    }
                }
                assign_to.innerHTML = optionHTML;
            })
        })
    };

    window.onload = get_user();

    function get_contacts(){
        if (vibes == 'dxb'){
            u = '/dxb'
        }
        else{
            u = ''
        }
        fetch('/all_contacts'+u).then(function(response){
            response.json().then(function(data){
                var jsonData = data.all_contacts
                $(function () {
                var $table = $('#contacttable').bootstrapTable({data: jsonData.reverse()});
                });
            })
        })
    }
    window.onload = get_contacts();

    function getcontact(){
    var data = $('#contacttable').bootstrapTable('getSelections');
    $('#contact').val(data[0].refno)
    $('#contact_name').val(data[0].name)
    $('#contact_number').val(data[0].contact)
    $('#contact_email').val(data[0].email)
    $('#nationality').val(data[0].nationality)
    document.getElementById("close").click();

    }

    window.onload = get_location();



</script>
 
{% endblock %}






