{% extends "base.html" %} 
{% import "bootstrap/wtf.html" as wtf %} 
{% block content %}
<style type='text/css'>
    .column{
           background-color: (255, 255, 255, 0.4); box-shadow: 0px 0px 39px -11px rgba(0,0,0,0.75) inset;
           -webkit-box-shadow: 0px 0px 39px -11px rgba(0,0,0,0.75) inset;
           -moz-box-shadow: 0px 0px 39px -11px rgba(0,0,0,0.75) inset;
           padding-top: 10px;
           margin: 5px;
           margin-top: 20px;
    }
    h4{
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #000000;
        font-size: 14pt;
        font-family: 'Oswald';
    }
      </style>
    

<section>
    <div style="height: 100%;width: 100%;background-color: rgba(0, 0, 0, 0.1);">
<div class="container" >
<form method="POST" enctype="multipart/form-data">
    <dl>
        <div class="row">
            <div class="col column">
                <h4>Exit Form</h4>
                {{ wtf.form_field(form.name) }}
                {{ wtf.form_field(form.designation) }}
                {{ wtf.form_field(form.department) }}
                {{ wtf.form_field(form.employee_no) }}
                <div class="row" style="margin-bottom: 9px;">
                    <div class="col" style="font-size: 15px;">
                        Joining Date
                    </div>
                    <div class="col">
                        {{ form.joining_date }}
                    </div>
                </div>
                {{ wtf.form_field(form.leave_type) }}
                {{ wtf.form_field(form.reason) }}

                <div class="container">
                    <div class="row" style="margin-bottom: 9px;">
                        <div class="col" style="font-size: 15px;">
                            From Date *
                        </div>
                        <div class="col">
                            {{ form.date_from }}
                        </div>
                        <div class="col" style="font-size: 15px;">
                            To Date
                        </div>
                        <div class="col">
                            {{ form.date_to }}
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-bottom: 9px;">
                    <div class="col" style="font-size: 15px;">
                        {{ wtf.form_field(form.no_of_days) }}
                    </div>
                    <div class="col">
                        {{ wtf.form_field(form.leave_balance) }}
                    </div>
                </div>

                {% if current_user.is_admin == True or current_user.job_title == 'Manager' or current_user.job_title == 'HR Manager' %}
                <div class="row" style="margin-bottom: 9px;">
                    <div class="col" style="font-size: 15px;">
                        Manager Acknowledge Date
                    </div>
                    <div class="col">
                        {{ form.manager_ack_date }}
                    </div>
                </div>
                {{ wtf.form_field(form.manager_approval) }}
                {% endif %}
                {% if current_user.is_admin == True or current_user.job_title == 'HR Manager' %}
                <div class="row" style="margin-bottom: 9px;">
                    <div class="col" style="font-size: 15px;">
                        HR Acknowledge Date
                    </div>
                    <div class="col">
                        {{ form.hr_ack_date }}
                    </div>
                </div>
                {{ wtf.form_field(form.hr_approval) }}
                {{ wtf.form_field(form.remarks) }}
                {% endif %}
            </div>
        </div>
    </dl>
  <!--label onclick="update()" class="btn btn-primary" >Submit</label>-->
  <input id="sub" class="btn btn-primary" value="Submit" type="submit" value="Submit">
</form>
</div>

<!-- LEAD MODAL -->
<div class="modal fade" id="lead">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
        <div id="lead_toolbar">
            <button id="reset" type="button" class="btn btn-primary" style="float: left; margin-right: 5px;">Reset</button>
        </div>
          <table id="lead_table"        
          data-toggle="true"
          data-toolbar="#lead_toolbar"
          data-search="true"
          data-show-columns="true"
          data-pagination="true">
            <thead>
            <tr>
                <th data-radio="true" data-show-select-title="true">SELECT</th>
                <th data-field="refno">REF NO</th>
                <th data-field="contact">CONTACT</th>
                <th data-field="contact_name">CONTACT NAME</th>
                <th data-field="lead_type">LEAD TYPE</th>
                <th data-field="property_requirements">PROPERTY</th>
                <th data-field="subtype">TYPE</th>
                <th data-field="locationtext">COMMUNITY</th>
                <th data-field="building">LOCATION</th>
                <th data-field="price">PRICE</th>
            </tr>
            </thead>
        </table>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" style="float: left;"  data-dismiss="modal" onclick="getlead()">Select</button>
          <button id="close" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
    </div>
<!-- /.modal -->


<br></div>
</section>

<script>
    const to_date = document.getElementById('date_to');
    const inputHandler01 = function(e) {
    var to_date = document.getElementById('date_to').value
    let to_date01 = new Date(to_date)
    let to_date02 = Date.UTC(to_date01.getFullYear(), to_date01.getMonth(), to_date01.getDate())
    if (e.target.id == 'date_to')
    {
        let from_date = document.getElementById('date_from').value
        let from_date01 = new Date(from_date)
        let from_date02 = Date.UTC(from_date01.getFullYear(), from_date01.getMonth(), from_date01.getDate())
        document.getElementById('no_of_days').value = parseInt(((to_date02-from_date02)/ (1000 * 60 * 60 * 24))+1)
    }
    }
    to_date.addEventListener('input', inputHandler01);

</script>
 
{% endblock %}






