{% extends "base.html" %} 

{% block content %}
<style>.child {
  display: inline-block;
  border: 1px solid #293645;
  padding: 5px;
  vertical-align: middle;
  margin-right: 1px;
  border-radius: 12px;
  background-color: rgba(41, 54, 69, 1);
  color: white;

}

.child01 {
  display: inline-block;
  border: 1px solid #293645;
  padding: 5px;
  vertical-align: middle;
  margin-left: 1px;
  margin-right: 1px;
  border-radius: 12px;
  background-color: rgb(255, 255, 255);
  color: white;
}

.parrot {
  display: inline-block;
  border: 1px solid #293645;
  padding: 5px;
  vertical-align: middle;
  margin-left: 1px;
  margin-right: 1px;
  border-radius: 25px;
}
.special_button {
  background-color: rgba(41, 54, 69, 1);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 7px;
  cursor: pointer;
  margin-left: 5px;
}
</style>
<title>Lighthouse - Lead Logs</title>
<section>
<!--Delete Modal-->
<div class="modal" id="deleteModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title oswald">Confirm deletion?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <button class="special_button" onclick="deletion_execute()">Yes</button>
        <h3 id="delete_log"></h3>
      </div>
    </div>
  </div>
</div>
 <!-- Modal End -->


  <div style="min-height: 100vh; max-height: 100%;background-color: rgba(0, 0, 0, 0);">
    <div class="container-fluid" style="padding: 10px;">
      <div class="container-fluid parrot" style="text-align: center; margin: 5px;">
        <div class="row">
          <div class="child" style="width: auto; margin-left: 1%;">
            <img style="width:12px; float: left; filter: invert(); margin-right: 5px; margin-left: 5px; margin-top: 1%; margin-bottom: 0" src="/static/images/tick.png"/><span><h6 style="text-align: left;">Filters</h6>
        <select name="agent_user" id="agent_user" class="filter_add02">
          <option selected="selected" value="">Users</option>
          {% for users in all_sale_users %}
          <option value="{{users.username}}">{{users.username}}</option>
          {% endfor %}
        </select>
          </div>
            <div class="child" style="width: auto">
              <img style="width:12px; float: left; filter: invert(); margin-right: 5px; margin-left: 5px; margin-top: 1%; margin-bottom: 0" src="/static/images/calendar.png"/><span><h6 style="text-align: left;">Duration</h6>
              <input type="date" id="propdate" name="propdate" class="filter_add02" style="width: 130px;">
              <input type="date" id="propdate2" name="propdate2" class="filter_add02" style="width: 130px;">
            </div>
            <div class="child" style="width: auto; color: black; background-color: rgb(189, 235, 189); padding: 7px !important; border: 0px">
                <h6 style="text-align: left;">Interested</h6>
                <h6 style="text-align: left; text-align: center;" name="interested_leads" id="interested_leads"></h6>
            </div>
            <div class="child" style="width: auto; color: black; background-color: rgb(233, 176, 176); padding: 7px !important; border: 0px">
                <h6 style="text-align: left;">Expired</h6>
                <h6 style="text-align: left; text-align: center;" name="expired" id="expired"></h6>
            </div>
          </div>
    
          <div class="row">
            <div class="col">
              <button id="filter_search" class="filter_add" style="background-color: #293645; color: white; margin-top: 3px; float: right; margin-right: 6px; margin-top: 7px;"><img style="width:13px; filter: invert(); margin-right: 5px; margin-left: 5px; margin-top: 0;" src="/static/images/magnifier.png"/><span>Search</span></button>
              <button id="filter_reset" class="filter_add" style="background-color: #293645; color: white; margin-top: 3px; float: right; margin-right: 5px; margin-top: 7px;"><img style="width:13px; filter: invert(); margin-right: 5px; margin-left: 5px;" src="/static/images/reset.png"/><span>Reset</span></button>
              <input type="hidden" id="filter" name="filter" value="OFF">
            </div>
          </div>
      </div>

      <table
        id="table"
        data-toggle="true"
        class="unselectable oswald"
        data-sort-name="lastupdated"
        data-sort-order="desc"
        data-toolbar="#toolbar"
        data-search="true"
        data-pagination="true"
        data-height="700"
        data-page-size="30"
        data-side-pagination="server"
        data-ajax="ajaxRequest"
        data-page-list="[25, 50, 100, 200]">
      </table>
    </div>
</div>
</section>
{% endblock %}


{% block scripts %}
<script type='text/javascript'>

function ajaxRequest(params) {
  fetch('/fetch_logs_token').then(function(response){
    response.json().then(function(data){
      token = data
      var headers = {
        'Authorization': 'Bearer '+token
      };
      //filters are added in the query accordingly
      if ($("#filter").val() == 'ON') {
        params.data['filter'] = $("#filter").val()
        if ($("#agent_user").val() != '') {
          params.data['user'] = $("#agent_user").val()
        }
        if ($("#propdate").val() != '') {
          params.data['propdate'] = $("#propdate").val()
        }
        if ($("#propdate2").val() != '') {
          params.data['propdate2'] = $("#propdate2").val()
        }
      }
      var url = 'https://crm.uhpae.com/fetch_hub_logs';
      $.ajax({
        url: url,
        method: 'GET',
        headers: headers,
        data: params.data,
        success: function (res) {
          params.success(res);
          document.getElementById('interested_leads').innerHTML = res['interested_leads'];
          document.getElementById('expired').innerHTML = res['expired'];
        },
        error: function (error) {
          console.error('Error fetching data:', error);
        }
      });
    })
  })
}      


$(window).on('load',(function(){
  $("#filter").val("ON")
  $('#display').hide();
  $('#notes').hide();      
  var columns = {{columns|tojson}};
  var data = {{data|tojson}};

      $(function() {
        $('#table').bootstrapTable({                    
          data: data,
          columns: columns,
        });

        $('#filter_search').click(function () {
          $("#filter").val("ON")
          $('#table').bootstrapTable('refresh');
        })
        
        $('#filter_reset').click(function () {
          $("#filter").val("OFF")
          $("#agent_user").val("");
          $("#propdate").val("");
          $("#propdate2").val("");
          $('#table').bootstrapTable('refresh');
        })              
      });
    }));
</script>

  <style type='text/css'>
    .row-index {
      width: 50px;
      display: inline-block;
    }
    body {
  overflow-x: hidden;
}</style>
{% endblock %}