{% extends "base.html" %} 

{% block content %}
<style>.child {
  display: inline-block;
  border: 1px solid #293645;
  padding: 5px;
  vertical-align: middle;
  margin-right: 1px;
  border-radius: 12px;
  background-color: rgba(41, 54, 69, 1);
  color: white;

}

.child01 {
  display: inline-block;
  border: 1px solid #293645;
  padding: 5px;
  vertical-align: middle;
  margin-left: 1px;
  margin-right: 1px;
  border-radius: 12px;
  background-color: rgb(255, 255, 255);
  color: white;
}

.parrot {
  display: inline-block;
  border: 1px solid #293645;
  padding: 5px;
  vertical-align: middle;
  margin-left: 1px;
  margin-right: 1px;
  border-radius: 25px;
}
.special_button {
  background-color: rgba(41, 54, 69, 1);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 7px;
  cursor: pointer;
  margin-left: 5px;
}
</style>
<title>Lighthouse - Lead Logs</title>
<section>
   <!--Call Back Modal-->
    <div class="modal" id="callbackModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title oswald">Please select the sources you want to call back?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" style="align-items: center; margin-left: auto; margin-right: auto;">
              <div class="container">
                <form id="multipleSelectionForm" method="POST">
                  <label style="font-weight: 700;">Sources:</label><br>
                  <label><input type="checkbox" name="sources[]" value="Facebook"> Facebook</label><br>
                  <label><input type="checkbox" name="sources[]" value="Instagram"> Instagram</label><br>
                  <label><input type="checkbox" name="sources[]" value="Snapchat"> Snapchat</label><br>
                  <label><input type="checkbox" name="sources[]" value="Messenger"> Messenger</label><br>
                  <label><input type="checkbox" name="sources[]" value="Property Finder"> Property Finder</label><br>
                  <label><input type="checkbox" name="sources[]" value="Cold Call"> Cold Call</label><br><br>
                  <!-- Hidden input field to store selected sources -->
                  <input type="hidden" id="selectedSourcesInput" name="selected_sources" value="">
                  <button type="button" onclick="callback_season_execute()">Call-Back</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    <!-- Modal End -->

  <!--Delete Modal-->
<div class="modal" id="deleteModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title oswald">Confirm deletion?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <button class="special_button" onclick="deletion_execute()">Yes</button>
        <h3 id="delete_log"></h3>
      </div>
    </div>
  </div>
</div>
 <!-- Modal End -->


  <div style="min-height: 100vh; max-height: 100%;background-color: rgba(0, 0, 0, 0);">
    <div class="container-fluid" style="padding: 10px;">
      <div class="container-fluid parrot" style="text-align: center; margin: 5px;">
        <div class="row">
          <div class="child" style="width: auto; margin-left: 1%;">
            <img style="width:12px; float: left; filter: invert(); margin-right: 5px; margin-left: 5px; margin-top: 1%; margin-bottom: 0" src="/static/images/tick.png"/><span><h6 style="text-align: left;">Filters</h6>
        <select name="agent_user" id="agent_user" class="filter_add02">
          <option selected="selected" value="">Users</option>
          {% for users in all_sale_users %}
          <option value="{{users.username}}">{{users.username}}</option>
          {% endfor %}
        </select>
        <select name="status" id="status" class="filter_add02">
          <option selected="selected" value="">Status</option>
          <option value="Assigned">Assigned</option>
          <option value="Lead Lost">Lead Lost</option>
          <option value="Follow up">Follow up</option>
        </select>
        <select name="source" id="source" class="filter_add02">
            <option selected="selected" value="">Source</option>
            <option value="Cold Call">Cold Call</option>
            <option value="Admin">Admin</option>
            <option value="Property Finder">Property Finder</option>
            <option value="Social Media">Social Media</option>
            <option value="No Action">No Action</option>
        </select>
      
          </div>
            <div class="child" style="width: auto">
              <img style="width:12px; float: left; filter: invert(); margin-right: 5px; margin-left: 5px; margin-top: 1%; margin-bottom: 0" src="/static/images/calendar.png"/><span><h6 style="text-align: left;">Duration</h6>
              <input type="date" id="propdate" name="propdate" class="filter_add02" style="width: 130px;">
              <input type="date" id="propdate2" name="propdate2" class="filter_add02" style="width: 130px;">
            </div>
            <div class="child" style="width: auto; color: black; background-color: rgb(189, 235, 189); padding: 7px !important; border: 0px">
                <h6 style="text-align: left;">Pending Response</h6>
                <h6 style="text-align: left; text-align: center;" name="assigned_leads" id="assigned_leads"></h6>
            </div>
            <div class="child" style="width: auto; color: black; background-color: rgb(233, 176, 176); padding: 7px !important; border: 0px">
                <h6 style="text-align: left;">Leads Lost</h6>
                <h6 style="text-align: left; text-align: center;" name="lead_lost" id="lead_lost"></h6>
            </div>
          </div>
    
          <div class="row">
            <div class="col">
              <button id="filter_search" class="filter_add" style="background-color: #293645; color: white; margin-top: 3px; float: right; margin-right: 6px; margin-top: 7px;"><img style="width:13px; filter: invert(); margin-right: 5px; margin-left: 5px; margin-top: 0;" src="/static/images/magnifier.png"/><span>Search</span></button>
              <button id="filter_reset" class="filter_add" style="background-color: #293645; color: white; margin-top: 3px; float: right; margin-right: 5px; margin-top: 7px;"><img style="width:13px; filter: invert(); margin-right: 5px; margin-left: 5px;" src="/static/images/reset.png"/><span>Reset</span></button>
              <input type="hidden" id="filter" name="filter" value="OFF">
            </div>
          </div>
      </div>






<!--
      <div id="toolbar">
        {% if current_user.export == True %}
        <button onclick="get_check('leads')" class="btn btn-primary">Export</button>
        {% endif %}
        <a id="download" href="">Download</a>
        {% if current_user.viewall == True %}
        <button id="all_data" class="btn btn-danger" style="margin-left: 10px; color: white;">All</button>
        {% endif %}
        <button class="btn btn-danger" id="flag"><i class="bi bi-flag"></i></button>
        <button id="user_data" class="btn btn-warning" style="margin-left: 10px; color: white;">My Leads</button>
        <button id="active" class="btn btn-success" style="margin-left: 10px; color: white;">Active</button>
        <button id="lead_pool" class="btn btn-info" style="margin-left: 10px; color: white;">Lead Pool (Closed)</button>
        <button id="referral" class="btn btn-warning" style="margin-left: 10px; color: white;">Referral Leads</button>
        {% if current_user.team_lead == True %}
        <button id="get_team" style="margin-left: 10px;"  class="btn btn-primary">Team Leads</button>
        {% endif %}
        <select name="lead_status" style="margin-left: 10px; padding-top: 5px !important; padding-bottom: 4px !important;" class="btn btn-info" id="lead_status">
          <option value="">Sub Status</option>
          <option value="Successful">Successful</option>
          <option value="Follow up">Follow Up</option>
          <option value="In progress">In progress</option>
          <option value="Interested">Interested</option>
          <option value="Viewing arranged">Viewing arranged</option>
          <option value="Offer Made">Offer Made</option>
          <option value="Unsuccessful">Unsuccessful</option>
        </select>
      </div>
-->
      <table
        id="table"
        data-toggle="true"
        class="unselectable oswald"
        data-sort-name="lastupdated"
        data-sort-order="desc"
        data-toolbar="#toolbar"
        data-search="true"
        data-pagination="true"
        data-height="700"
        data-page-size="30"
        data-side-pagination="server"
        data-ajax="ajaxRequest"
        data-page-list="[25, 50, 100, 200]">
      </table>
    </div>
    <div id="toolbar">
        <button class="btn btn-primary" style="color:white; padding: 5px !important;" data-toggle="modal" data-target="#callbackModal">Call Back Season</button>
    </div>
</div>
</section>
{% endblock %}


{% block scripts %}
<script type='text/javascript'>

function ajaxRequest(params) {
  fetch('/fetch_logs_token').then(function(response){
    response.json().then(function(data){
      token = data
      var headers = {
        'Authorization': 'Bearer '+token
      };
      //filters are added in the query accordingly
      if ($("#filter").val() == 'ON') {
        params.data['filter'] = $("#filter").val()
        if ($("#agent_user").val() != '') {
          params.data['user'] = $("#agent_user").val()
        }
        if ($("#status").val() != '') {
          params.data['status'] = $("#status").val()
        }
        if ($("#source").val() != '') {
          params.data['source'] = $("#source").val()
        }
        if ($("#propdate").val() != '') {
          params.data['propdate'] = $("#propdate").val()
        }
        if ($("#propdate2").val() != '') {
          params.data['propdate2'] = $("#propdate2").val()
        }
      }
      var url = 'https://crm.uhpae.com/fetch_leads_logs';
      $.ajax({
        url: url,
        method: 'GET',
        headers: headers,
        data: params.data,
        success: function (res) {
          params.success(res);
          document.getElementById('assigned_leads').innerHTML = res['assigned_leads'];
          document.getElementById('lead_lost').innerHTML = res['lead_lost'];
        },
        error: function (error) {
          console.error('Error fetching data:', error);
        }
      });
    })
  })
}      


$(window).on('load',(function(){
  $("#filter").val("ON")
  $('#display').hide();
  $('#notes').hide();      
  var columns = {{columns|tojson}};
  var data = {{data|tojson}};

      $(function() {
        $('#table').bootstrapTable({                    
          data: data,
          columns: columns,
        });

        $('#filter_search').click(function () {
          $("#filter").val("ON")
          $('#table').bootstrapTable('refresh');
        })
        
        $('#filter_reset').click(function () {
          $("#filter").val("OFF")
          $("#source").val("");
          $("#status").val("");
          $("#propdate").val("");
          $("#propdate2").val("");
          $('#table').bootstrapTable('refresh');
        })              
      });
    }));
    
    function callback_season_execute(){
      let sources = document.getElementById("selectedSourcesInput").value;
      fetch('/call-back-leads-31602', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ sources: sources }) // Convert sources to JSON and include it in the body
      }).then(function(response) {
        response.json().then(function(data) {
          location.reload();
        });
      });
    };
    
    function delete_initiate_(x){
      document.getElementById("delete_log").val=x;
      };

    function deletion_execute(){
      let refno = document.getElementById("delete_log").val;
      fetch('/delete_leads_logs/'+refno).then(function(response) {
            response.json().then(function(data) {
              location.reload();
              });
        })
    }

    function updateHiddenField() {
            var checkedBoxes = document.querySelectorAll('input[name="sources[]"]:checked');
            var selectedSources = Array.from(checkedBoxes).map(function(checkbox) {
                return checkbox.value;
            });
            // Set the value of the hidden input field
            document.getElementById('selectedSourcesInput').value = selectedSources.join(',');
        }
        
    var checkboxes = document.querySelectorAll('input[name="sources[]"]');
    checkboxes.forEach(function(checkbox) {
      checkbox.addEventListener('change', updateHiddenField);
      });
</script>

  <style type='text/css'>
    .row-index {
      width: 50px;
      display: inline-block;
    }
    body {
  overflow-x: hidden;
}</style>
{% endblock %}