{% extends "base.html" %} 

{% block content %}
<style>
.child {
  display: inline-block;
  border: 1px solid #293645;
  padding: 5px;
  vertical-align: middle;
  margin-right: 1px;
  border-radius: 12px;
  background-color: rgba(41, 54, 69, 1);
  color: white;

}

.child01 {
  display: inline-block;
  border: 1px solid #293645;
  padding: 5px;
  vertical-align: middle;
  margin-left: 1px;
  margin-right: 1px;
  border-radius: 12px;
  background-color: rgb(255, 255, 255);
  color: white;
}

.parrot {
  display: inline-block;
  border: 1px solid #293645;
  padding: 5px;
  vertical-align: middle;
  margin-left: 1px;
  margin-right: 1px;
  border-radius: 12px;
}
</style>
<title>Lighthouse - Listing Data</title>
<section>
    <!--Delete Modal-->
    <div class="modal" id="deleteModal01" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title oswald">Confirm deletion!</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="container unselectable oswald" id="notes" style="background-color:rgba(0, 0, 0, 0.2);font-family: 'Oswald';">
                  <a id="delete">Delete</a>
                </div>
      
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
    </div>
    <!--Modal Ends-->
  <div style="min-height: 100vh; max-height: 100%;width: 100%;background-color: rgba(0, 0, 0, 0.1);">
    <br>
    <div class="container parrot" style="text-align: center; margin: 5px;">
        <div class="row">
          <div class="child" style="width: auto; margin-left: 1%;">
            <img style="width:12px; float: left; filter: invert(); margin-right: 5px; margin-left: 5px; margin-top: 1%; margin-bottom: 0" src="/static/images/tick.png"/><span><h6 style="text-align: left;">Status</h6>
        <select name="status_" id="status_" class="filter_add02">
                <option selected="selected" value="">Status</option>
                <option value="Pending">Pending</option>
                <option value="Available">Available</option>
                <option value="Not Interested">Not Interested</option>
                <option value="Call Later">Call Later</option>
        </select>
    </div>
    <div class="child" style="width: auto;">
        <img style="width:12px; float: left; filter: invert(); margin-right: 5px; margin-left: 5px; margin-top: 1%; margin-bottom: 0" src="/static/images/location-pointer.png"/><span><h6 style="text-align: left;">Area</h6>
      <select name="location_category" id="location_category" class="filter_add02">
        <option selected="selected" value=''>Location</option>
        <option value='Abu Dhabi Gate City'>Abu Dhabi Gate City</option>
        <option value='Abu Dhabi Island'>Abu Dhabi Island</option>
        <option value='AbuDhabi-Al Ain (Highway)'>AbuDhabi-Al Ain (Highway)</option>
        <option value='Airport Road'>Airport Road</option>
        <option value='Al Ajban'>Al Ajban</option>
        <option value='Al Aman'>Al Aman</option>
        <option value='Al Aryam'>Al Aryam</option>
        <option value='Al Badaa'>Al Badaa</option>
        <option value='Al Bahia'>Al Bahia</option>
        <option value='Al Baraha'>Al Baraha</option>
        <option value='Al Barza'>Al Barza</option>
        <option value='Al Bateen'>Al Bateen</option>
        <option value='Al Bateen Al Ain'>Al Bateen Al Ain</option>
        <option value='Al Danah'>Al Danah</option>
        <option value='Al Dhafrah'>Al Dhafrah</option>
        <option value='Al Fahid Island'>Al Fahid Island</option>
        <option value='Al Falah City'>Al Falah City</option>
        <option value='Al Faya'>Al Faya</option>
        <option value='Al Ghadeer'>Al Ghadeer</option>
        <option value='Al Gurm West'>Al Gurm West</option>
        <option value='Al Hosn'>Al Hosn</option>
        <option value='Al Hudayriat Island'>Al Hudayriat Island</option>
        <option value='Al Ittihad Road'>Al Ittihad Road</option>
        <option value='Al Jubail Island'>Al Jubail Island</option>
        <option value='Al Jubail Island'>Al Jurf Island</option>
        <option value='Al Karamah'>Al Karamah</option>
        <option value='Al Khaleej Al Arabi Street'>Al Khaleej Al Arabi Street</option>
        <option value='Al Khalidiya'>Al Khalidiya</option>
        <option value='Al Khatim'>Al Khatim</option>
        <option value='Al Khazna'>Al Khazna</option>
        <option value='Al Khubeirah'>Al Khubeirah</option>
        <option value='Al Maffraq'>Al Maffraq</option>
        <option value='Al Maha'>Al Maha</option>
        <option value='Al Maharba'>Al Maharba</option>
        <option value='Al Manaseer'>Al Manaseer</option>
        <option value='Al Manhal'>Al Manhal</option>
        <option value='Al Maqtaa'>Al Maqtaa</option>
        <option value='Al Marina'>Al Marina</option>
        <option value='Al Markaz'>Al Markaz</option>
        <option value='Al Markaziyah'>Al Markaziyah</option>
        <option value='Al Maryah Island'>Al Maryah Island</option>
        <option value='Al Mina'>Al Mina</option>
        <option value='Al Mirfa'>Al Mirfa</option>
        <option value='Al Muneera'>Al Muneera</option>
        <option value='Al Muntazah'>Al Muntazah</option>
        <option value='Al Mushrif'>Al Mushrif</option>
        <option value='Al Nahda Abu Dhabi'>Al Nahda Abu Dhabi</option>
        <option value='Al Nahyan'>Al Nahyan</option>
        <option value='Al Nahyan Camp'>Al Nahyan Camp</option>
        <option value='Al Najda Street'>Al Najda Street</option>
        <option value='Al Nasr Street'>Al Nasr Street</option>
        <option value='Al Qurm'>Al Qurm</option>
        <option value='Al Raha'>Al Raha</option>
        <option value='Al Raha Beach'>Al Raha Beach</option>
        <option value='Al Raha Gardens'>Al Raha Gardens</option>
        <option value='Al Raha Golf Gardens'>Al Raha Golf Gardens</option>
        <option value='Al Rahba'>Al Rahba</option>
        <option value='Al Rawdah'>Al Rawdah</option>
        <option value='Al Reef'>Al Reef</option>
        <option value='Al Reef Villas'>Al Reef Villas</option>
        <option value='Al Reem Island'>Al Reem Island</option>
        <option value='Al Rehhan'>Al Rehhan</option>
        <option value='Al Rideem'>Al Rideem</option>
        <option value='Al Ruwais'>Al Ruwais</option>
        <option value='Al Safarat District'>Al Safarat District</option>
        <option value='Al Samha'>Al Samha</option>
        <option value='Al Shahama'>Al Shahama</option>
        <option value='Al Shamkha'>Al Shamkha</option>
        <option value='Al Shamkha South'>Al Shamkha South</option>
        <option value='Al Shawamekh'>Al Shawamekh</option>
        <option value='Al Sila'>Al Sila</option>
        <option value='Al Sowwah'>Al Sowwah</option>
        <option value='Al Taweelah'>Al Taweelah</option>
        <option value='Al Tibbiya'>Al Tibbiya</option>
        <option value='AL Wahda'>AL Wahda</option>
        <option value='Al Wathba'>Al Wathba</option>
        <option value='Al Zaab'>Al Zaab</option>
        <option value='Al Zahraa'>Al Zahraa</option>
        <option value='Arabian Village'>Arabian Village</option>
        <option value='Bain Al Jessrain'>Bain Al Jessrain</option>
        <option value='Baniyas'>Baniyas</option>
        <option value='Between Two Bridges'>Between Two Bridges</option>
        <option value='Building Materials City'>Building Materials City</option>
        <option value='Capital Centre'>Capital Centre</option>
        <option value='City Downtown'>City Downtown</option>
        <option value='Corniche'>Corniche</option>
        <option value='Corniche Area'>Corniche Area</option>
        <option value='Corniche Road'>Corniche Road</option>
        <option value='Danet Abu Dhabi'>Danet Abu Dhabi</option>
        <option value='Defence Street'>Defence Street</option>
        <option value='Delma Street'>Delma Street</option>
        <option value='Desert Village'>Desert Village</option>
        <option value='Eastern Road'>Eastern Road</option>
        <option value='Electra Street'>Electra Street</option>
        <option value='Firdous Street'>Firdous Street</option>
        <option value='Ghantoot'>Ghantoot</option>
        <option value='Ghiyathi'>Ghiyathi</option>
        <option value='Grand Mosque District'>Grand Mosque District</option>
        <option value='Hamdan Street'>Hamdan Street</option>
        <option value='Happiness Island'>Happiness Island</option>
        <option value='Happiness Island'>Happiness Island</option>
        <option value='Hydra Village'>Hydra Village</option>
        <option value='Jawazat Street'>Jawazat Street</option>
        <option value='Khalidia'>Khalidia</option>
        <option value='Khalifa City (all)'>Khalifa City (all)</option>
        <option value='Khalifa City A'>Khalifa City A</option>
        <option value='Khalifa City B'>Khalifa City B</option>
        <option value='Khalifa City C'>Khalifa City C</option>
        <option value='Khalifa Park'>Khalifa Park</option>
        <option value='Khalifa Street'>Khalifa Street</option>
        <option value='Liwa'>Liwa</option>
        <option value='Liwa Street'>Liwa Street</option>
        <option value='Lulu Island'>Lulu Island</option>
        <option value='Madinat Al Riyad'>Madinat Al Riyad</option>
        <option value='Madinat Zayed'>Madinat Zayed</option>
        <option value='Madinat Zayed (Western Region)'>Madinat Zayed (Western Region)</option>
        <option value='Mafraq Industrial Area'>Mafraq Industrial Area</option>
        <option value='Marina Village'>Marina Village</option>
        <option value='Masdar City'>Masdar City</option>
        <option value='Mbz'>Mbz</option>
        <option value='Mina Zayed'>Mina Zayed</option>
        <option value='Mohamed Bin Zayed City'>Mohamed Bin Zayed City</option>
        <option value='Muroor Area'>Muroor Area</option>
        <option value='Musaffah Industrial Area'>Musaffah Industrial Area</option>
        <option value='Mussafah'>Mussafah</option>
        <option value='Nareel Island'>Nareel Island</option>
        <option value='New Al Marfa'>New Al Marfa</option>
        <option value='New Khalifa City'>New Khalifa City</option>
        <option value='Nurai Island'>Nurai Island</option>
        <option value='Officers Club Area'>Officers Club Area</option>
        <option value='Ramhan Island'>Ramhan Island</option>
        <option value='Saadiyat Island'>Saadiyat Island</option>
        <option value='Salam Street'>Salam Street</option>
        <option value='Sas Al Nakhl'>Sas Al Nakhl</option>
        <option value='Shakhbout City'>Shakhbout City</option>
        <option value='Sheikh Zayed Bin Sultan St.'>Sheikh Zayed Bin Sultan St.</option>
        <option value='Tourist Club Area'>Tourist Club Area</option>
        <option value='World Trade Center'>World Trade Center</option>
        <option value='Yas Island'>Yas Island</option>
        <option value='Zayed City'>Zayed City</option>
        <option value='Zayed Military City'>Zayed Military City</option>
        <option value='Zayed Sports City'>Zayed Sports City</option>
      </select>
      <select name="community_category" id="community_category" class="filter_add02">
        <option selected="selected" value="">Community</option>
      </select>
    </div>
    </div>
    <div class="row">
            <div class="col">
              <button id="filter_search" class="filter_add" style="background-color: #293645; color: white; margin-top: 3px; margin-right: 6px; margin-top: 7px; float: left;"><img style="width:13px; filter: invert(); margin-right: 5px; margin-left: 5px; margin-top: 0;" src="/static/images/magnifier.png"/><span>Search</span></button>
              <button id="filter_reset" class="filter_add" style="background-color: #293645; color: white; margin-top: 3px; margin-right: 5px; margin-top: 7px; float: left;"><img style="width:13px; filter: invert(); margin-right: 5px; margin-left: 5px;" src="/static/images/reset.png"/><span>Reset</span></button>
            </div>
          </div>
      </div>
    <div class="container-fluid">
      <div id="toolbar">
        <!--
        {% if current_user.export == True %}
        <button onclick="get_check('deals')" class="btn btn-primary">Export</button>
        {% endif %}
        <a id="download" href="">Download</a>
        
        <select name="listing_users" id="listing_users" class="filter_add02" >
            <option selected="selected" value="">Users</option>
            {% for users in all_users %}
                <option value="{{users.username}}">{{users.username}}</option>
            {% endfor %}
            </select>
        <button id="all_data" class="btn btn-danger" style="margin-left: 10px; color: white;">All</button>
        <button id="user_data" class="btn btn-warning" style="margin-left: 10px; color: white;">My Deals</button>
        Delete Modal-->
    </div>
    
      <table
        id="table"
        data-toggle="true"
        class="unselectable oswald"
        data-toggle="true"
        data-toolbar="#toolbar"
        data-search="true"
        data-show-columns="true"
        data-pagination="true"
        data-height="750"
        data-page-size="100"
        data-page-list="[25, 50, 100, 200, All]">
      </table>
    </div>
      <div class="container-fluid">
        <a href="/add_listingdata" class="btn btn-primary" style="padding: 5px !important;">New Listing</a>
        </div>
    </br>
</div>
</section>

{% endblock %}


{% block scripts %}
<script type='text/javascript'>
    $("#location_category").change(function(){
    get_location();
    });

    function get_location(){
        var comm = $("#location_category").val();
        fetch('/property/' + comm).then(function(response){
            response.json().then(function(data){
                let optionHTML = '';
                optionHTML += '<option value="">Community</option>';
                for (let location of data.locations){

               
                        optionHTML += '<option value="'+location[0]+'">'+location[1]+'</option>';
                    
                }
                document.getElementById('community_category').innerHTML = optionHTML;
            })
        })
        
    }
    function delete_(x){
        document.getElementById("delete").href="/delete_listing/"+x;
    };
    
    $(window).on('load',(function(){
      
    var columns = {{columns|tojson}};
    var data = {{data|tojson}};
    console.log(data)
    console.log(columns)
      

    $(function() {
        $('#table').bootstrapTable({ 
          data: data,
          columns: columns,
        });
        $('#filter_search').click(function () {
        
        var test = data
        var z = $("#status_").val()
        var u = $("#location_category").val()
        var x = $("#community_category").val()
        
        var grepFunc;
        var grepFunc2;
        var grepFunc3;

        grepFunc = function(item){
              return item.status == z;
          }

        grepFunc2 = function(item){
              return item.location == u;
          }

        grepFunc3 = function(item){
              return item.sublocation == x;
          }


        if (z != "")
        {test = $.grep(test, grepFunc)}

        if (u != "")
        {test = $.grep(test, grepFunc2)}

        if (x != "")
        {test = $.grep(test, grepFunc3)}


          $('#table').bootstrapTable('load', test);
        })
        
        $('#filter_reset').click(function () {
        $('#table').bootstrapTable('load', data)
        $("#status_").val("");
        $("#propdate").val("");
        $("#propdate2").val("");
        })
      });
    }));
  </script>
    <style type='text/css'>
      .row-index {
        width: 50px;
        display: inline-block;
      }
      body {
    overflow-x: hidden;
  }
    </style>
{% endblock %}