{% extends "base.html" %} 
{% import "bootstrap/wtf.html" as wtf %} 
{% block content %}

<!--style>
.parent{
overflow: hidden;
height: 100vh;
}
video {
  width: 100vw;
  position: relative;
}
.video-overlay {
    position: absolute;
   right: 0px;
    top: 0px;
    z-index: 1000;
}

.navbar-dark{
  display: none;
}
.logo{ 
  margin: 20px;
  position: absolute;
  z-index: 100;
}
.changetextcolor{
  transition: all 3s ease-in-out;
}

#logoname{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 80px;
  color: white;
  transition: all 3s ease-in-out;
}
</style>


<div style="display: inline-block;position: relative;">
<div class="logo"> 
      <h2 id="logoname" class="shade">NAME</h2>
</div>
<div class="video-overlay">

  <div class="container shade" style="height: 100vh;background-color: rgba(0,0,0,0.75);">
   <br>
    <form method="POST">
      <dl>
        <div class="row justify-content-center">
          <div style="width: 300px;">
          <div class="col" style="margin-top: 20px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
          <div class="form-group" >
        {{ wtf.form_field(form.username) }}
      
        {{ wtf.form_field(form.password) }}
        <input class="btn btn-primary" type="submit" style="margin-top: 20px;" value="SIGN IN">
        </div>
        </div>
        </div>
          </div>
      </dl>
    
    </form>
    </div>
</div>
<video autoplay muted loop id="myVideo">
  <source src="/static/video.mp4" type="video/mp4">
</video>
</div>

<script>
  const element = document.querySelector('#logoname');
  const chars = element.innerHTML.split("");

  function sleep(ms) {
  return new Promise(resolve => setTimeout(resolve, ms));
  }

  function changeback(x,n){
    element.innerHTML = element.innerHTML.replace(x, n);
    changetextcolor()
  }

  function changetextcolor(){
    var x = chars[Math.floor(Math.random() * chars.length)]
    element.innerHTML = element.innerHTML.replace(x, '<span class="changetextcolor" style="color: rgba(0,0,0,0.75);">'+x+'</span>');
    sleep(2000).then(() => { changeback('<span class="changetextcolor" style="color: rgba(0,0,0,0.75);">'+x+'</span>',x); })
  }

  changetextcolor()



</script-->







<style>


  .navbar-dark{
    display: none;
  }
  
  .expandlanding{
    width: 20%;  background-color: #ffffff;
    transition: ease-in-out 1s
  }
  
  .shade:hover .expandlanding {
    width: 100%;
    transition: ease-in-out 1s
  }
  
  .form-control{
  background-color: rgb(0, 0, 0,0.5);
  border: 1px solid rgb(255, 255, 255,0.4) !important;
  color: white;
  }
  input[type=text]:focus{
    outline: none;
    background-color: rgb(0, 0, 0,0.2);
  }
  input[type=password]:focus{
    outline: none;
    background-color: rgb(0, 0, 0,0.2);
  }
  
  
  
  </style>
  
  
  
  <section style="background-image: url(/static/images/main.jpg); background-repeat: no-repeat; height: 100vh; background-size: cover;">
  <div class="container-fluid">
    <div class="row" style="position: relative;">
      <div class="col-4" style="position: absolute;">
        <img src="https://see.fontimg.com/api/renderfont4/X3Wxo/eyJyIjoiZnMiLCJoIjo3OCwidyI6MTAwMCwiZnMiOjc4LCJmZ2MiOiIjRkZGRkZGIiwiYmdjIjoiI0ZGRkZGRiIsInQiOjF9/TElHSFRIT1VTRQ/despairs.png" style="width: 100%; margin: 30px;" alt="">
      </div>
      <div class="col-3 text-center shade" style="position: absolute;right: 0;background-color: rgb(0, 0, 0,0.5); padding-top:70px;padding-bottom: 50px;">
        
        <h4 class="control-label" style="font-size: 20pt;">LOGIN</h4>
        <div class="expandlanding" style="height: 2px; margin: auto;margin-top: 20px;">
  
        </div>
        <form method = "POST">
        <div class="form-group"  style="margin-top: 20px;" >
          {{ wtf.form_field(form.username) }}
        
          {{ wtf.form_field(form.password) }}
          <input class="btn btn-primary" type="submit" style="margin-top: 20px;" value="SIGN IN">
          </div>
        </form>
    </div>
  </div>
  </div>
  
  </section>
  
{% endblock %}











