<!DOCTYPE html>
<html>
    <head>
        <title>Upload listing</title>
    </head>
    <body>
        <h1>For Listing</h1>
        <form method="POST" action="/listing_data_upload" enctype="multipart/form-data">
            <input type="file" name="file">
            <input type="submit" value="Submit">
        </form>
        <h1>For Properties</h1>
        <form method="POST" action="/uploadlisting" enctype="multipart/form-data">
            <input type="file" name="file">
            <input type="submit" value="Submit">
        </form>
        <h1>For Deletion</h1>
        <form method="POST" action="/upload-delete" enctype="multipart/form-data">
            <input type="file" name="file">
            <input type="submit" value="Submit">
        </form>
    </body>
</html>
</html>