{% extends "base.html" %} 

{% block content %}
    <head>
        <title>Lighthouse - Upload Leads</title>
    </head>
    <body>
        <div class="container" style="margin-top: 25px;">
            <h2>Abu Dhabi</h2>
            <div class="row">
                <div class="col">
                    <h3>Leads</h3>
                    <form method="POST" action="/uploadleads" enctype="multipart/form-data">
                        <input type="file" name="file">
                        <input type="submit" value="Submit">
                    </form>
                </div>
                <div class="col">
                    <h3>Drafts</h3>
                    <form method="POST" action="/upload_drafts" enctype="multipart/form-data">
                        <input type="file" name="file">
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>
        </div>
        <div class="container" style="margin-top: 50px;">
            <h2>Dubai</h2>
            <div class="row">
                <div class="col">
                    <h3>Leads Dubai</h3>
                    <form method="POST" action="/uploadleadsdubai" enctype="multipart/form-data">
                        <input type="file" name="file">
                        <input type="submit" value="Submit">
                    </form>
                </div>
                <div class="col">
                    <h3>Drafts Dubai</h3>
                    <form method="POST" action="/upload_drafts_dxb" enctype="multipart/form-data">
                        <input type="file" name="file">
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>
        </div>
    </body>
{% endblock %}
